
@media (max-width: 576px) {
    .card {
      width: 100%; /* Заполнение всей ширины контейнера на маленьких экранах */
    }
  }


  a.card {
     margin-top: 15px;
     border: 0px;
     border-radius: 12px 12px 0 0;
     max-width: 300px; /* Установите желаемую максимальную ширину */
     margin: 10px auto; /* Центрирование карточек */
  }
  
  #card_a_href_php {
    border: 3px;
  }

  #card_a_href_php a {
    display: block;
    
  }